<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap"
    rel="stylesheet">
  <title>Acerca de</title>
</head>

<body>
  <header>
    <h1 class="roboto-font">Follow Tracker</h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/guide" class="roboto-font">Como usar Follow tracker
            <span class="material-symbols-outlined">dictionary</span>
          </a>
        </li>
        <li class="nav-item roboto-font"><a href="/">Pagina principal <span
              class="material-symbols-outlined">home</span></a></li>
      </ul>
    </nav>
  </header>
  <section class="text-section">
    <p class="title roboto-font">Objetivo de la aplicación<span class="material-symbols-outlined">explore</span>
    </p>
    <p class="roboto-font-text">
      Esta aplicación tiene como objetivo brindar mayor transparencia en las relaciones sociales dentro de Instagram,
      facilitando la gestión y análisis de las cuentas que sigues y las que te siguen. Su funcionalidad principal es
      permitir al usuario visualizar dos listas clave:
    <p class="roboto-font">Usuarios que sigues (Following)</p>
    <p class="roboto-font">Usuarios que te siguen (Followers)</p>
    <p class="roboto-font-text">A partir de estas listas, la aplicación identifica de forma clara y sencilla</p>
    <p class="sub-title roboto-font">Qué usuarios no te siguen de vuelta </p>
    <p class="roboto-font-text">Es decir, aquellos que tú sigues pero que
      no te siguen a ti.</p>
    <p class="sub-title roboto-font">Qué usuarios te siguen pero tú no sigues</p>
    <p class="roboto-font-text">Si también deseas esa perspectiva. Esto ayuda a los usuarios a tomar decisiones
      informadas sobre a quién seguir o dejar de
      seguir</p>
    <p class="sub-title roboto-font">Evitar falsos influencers</p>
    <p class="roboto-font-text">Detecta cuentas que utilizan tácticas poco honestas para inflar su número de seguidores,
      como seguir a muchas cuentas</p>
    <p class="sub-title roboto-font">Limpieza de tu lista de seguidos</p>
    <p class="roboto-font-text">Mejora la calidad de tu feed y la relevancia de las cuentas que sigues.</p>
    <p class="sub-title roboto-font">Transparencia en tus conexiones digitales</p>
    <p class="roboto-font-text">Comprende mejor tus interacciones y quién realmente está interesado en tu contenido.</p>
    <p class="sub-title roboto-font">Mejor gestión de tu presencia digital</p>
    <p class="roboto-font-text">Ideal para usuarios personales, creadores de contenido, pequeñas marcas o agencias que
      desean mantener relaciones auténticas y construir comunidades genuinas.</p>
  </section>
    <footer>
    <p class="roboto-font">Esta iniciativa busca una transparencia en la interacción entre usuarios, trata de usarlo de manera responsable y coherente.</p>
    <p class="">Desarrollado por Agustin Ibarra</p>
    <a href="https://github.com/Agustin-Ibarra" target="_blank" class="guithub">Guithub</a>
  </footer>
</body>

</html>