<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap"
    rel="stylesheet">
  <title>Como usar Follow tracker</title>
</head>

<body>
    <header>
    <h1 class="roboto-font">Follow Tracker</h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-item roboto-font"><a href="/about">Acerca de <span class="material-symbols-outlined">help</span></a></li>
        <li class="nav-item roboto-font"><a href="/">Pagina principal <span class="material-symbols-outlined">home</span></a></li>
      </ul>
    </nav>
  </header>
  <section class="guide-section">
    <p class="title roboto-font">Revisa tu información sin ingresar tu usuario y contraseña <span class="material-symbols-outlined">
    <p class="roboto-font-text sub-title">leé atentamente las instrucciones hasta el final<span class="material-symbols-outlined">description</span></p>
    <p class="roboto-font-text">Ve a tu perfil de Instagram y dirígete a la sección de tus seguidores.</p>
    <p class="roboto-font-text">Luego haz click y mantén presionado, arrastra para seleccionar tus seguidores, es recomendable ir haciendo pausas
      para que Instagram pueda cargar tus seguidores (no dejes de presionar), de esta forma Instagram no interpretara
      como una actividad sospechosa o script automatizado.</p>
    <div class="img-div">
      <img src="follows.png" alt="follows">
    </div>
    <p class="roboto-font-text">Una vez seleccionados todos tus seguidores, haz click derecho, luego pégalo en la sección "Tus seguidores".</p>
    <div class="img-div">
      <img src="followers.png" alt="follows">
    </div>
        <div class="img-div">
      <img src="followers_2.png" alt="follows">
    </div>
    <p class="roboto-font-text">Repite la misma secuencia de pasos para tus seguidos, copia todos tus "Seguidos", solo que ahora debes pegarlo en "Tus seguidos".</p>
    <div class="img-div">
      <img src="followed.png" alt="follows">
    </div>
    <p class="roboto-font-text">Ahora presiona en "Buscar Usuarios" y espera unos segundos, (la búsqueda tiene una efectividad del 95%).</p>
        <div class="img-div">
      <img src="search.png" alt="follows">
    </div>
    <p class="roboto-font-text">Para reiniciar la búsqueda haz click en "Reiniciar búsqueda" de esta forma se limpiaran los inputs.</p>
            <div class="img-div">
      <img src="clear.png" alt="follows">
    </div>
    <p class="title roboto-font">Recomendaciones <span class="material-symbols-outlined">
warning
</span></p>
    <p class="roboto-font-text">todos los usuarios pero haz pausas para no levantar sospechas, si lo haces sin hacer pausas Instagram podría interpretar como actividad sospechosa, algo similar como cuando das likes múltiples veces sin parar a una publicación, si tienes más de 500 seguidos o seguidores tendrás que ser paciente.</p>
    <p class="roboto-font-text">Trata de no copiar todo de manera rápida, realiza scroll para que carguen Solo se puede hacer 2 búsquedas por hora en esta primera versión, esto aliviana los procesos en el servidor para no sobrecargarlo.</p>
    <p class="roboto-font-text">Esta iniciativa busca una transparencia en la interacción entre usuarios, trata de usarlo de manera responsable y coherente.</p>
    <p class="roboto-font-text">Para usuarios con más de 1500 seguidos o seguidores tendrán que esperar a una actualización para poder soportar un procesamiento de ese nivel.</p>
    <p class="roboto-font-text">Puedes ver la estructura del proyecto, en él se encuentra información acerca de la estructura de la aplicación, como stack de tecnologías haciendo click <a href="" class="guithub">aqui</a></p>
  </section>
    <footer>
    <p class="roboto-font">Esta iniciativa busca una transparencia en la interacción entre usuarios, trata de usarlo de manera responsable y coherente.</p>
    <p class="">Desarrollado por Agustin Ibarra</p>
    <a href="https://github.com/Agustin-Ibarra" target="_blank" class="guithub">Guithub</a>
  </footer>
</body>

</html>